<%- include("../partials/header") %>


<div class="container">
	<div class="row">
		<h1>Create a New Campground</h1>
		<form action="/campgrounds" method="POST">
		<input class="form-control" type="number" placeholder="Price" name="price" min="0.01" step="0.01">
		<input class="form-control" type="text" placeholder="Campground Name" name="name">
		<input class="form-control" type="text" placeholder="image url" name="image">
		<input class="form-control" type="text" placeholder="description" name="description">
		<input class="form-control" type="text" placeholder="description" name="location">
		<button class="btn btn-large btn-defualt btn-block btn-primary">Submit!</button>
		</form>
		<p><a href="/">Go Back</a></p>
	</div>
</div>
<%- include("../partials/footer") %>
