.thumbnail img  {
	width: 100%;
	max-height:200px;
}

#show-img {
	max-height: 700px;
	position: bottom center;
}

#delete-form {
	display:inline;
}

.color-theme-main {
	background-color: #2d6a4f;
}

.box-shadow {
	box-shadow: 1px 1px 16px -2px #1b4332;
	transition:.2s;

}


div.camp-link:hover {
	box-shadow: 1px 1px 16px 3px #081c15;
	text-decoration:none;
	transition: .3s;
}

html body {
	height:100%;
	background-color: #d8f3dc;
	min-width: 500px;
	position:relative;
	z-index:0;
}
a.camp-link {
	color: black;
	text-decoration:none;
}
a.camp-link:active {
	text-decoration:none;
	
}

.jumbotron {
	padding-top: 7em;
	background-image: url(https://images.unsplash.com/photo-1486837348513-8fb4a7624668?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-position: center;
	background-size: 100%;
	background-repeat:no-repeat;
	background-color: #d8f3dc;
	color: #F0ead6;
	text-shadow: 2px 2px 5px #081c15;
	border-radius: 0px;
}

.link-color {
	color: #f0ead6;
}

.link-color:hover {
	color: #f0ead6;
	text-shadow:2px 2px 3px #081c15;
}

.navbar-brand {
	color: #f0ead6;
}

.navbar-brand:hover {
	color: #f0ead6;
	text-shadow:2px 2px 3px #081c15;
}

.flash-message {
	padding-top: 4em;
	position: fixed;
	z-index: 1;
	animation: fadeOut ease-out 4s;
	animation-fill-mode: forwards;
}

.navbar {
	position: fixed;
	z-index:2;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  80% {
    opacity:1;
 	 }
	100% {
	opacity:0;
	display:hidden;
	}	
}

.show-panel {
	padding-top: 5em;
}

.user-auth {
	padding: 10em 0;
	background-image: url(https://images.unsplash.com/photo-1465056836041-7f43ac27dcb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
	background-size:cover;
	min-height: 600px;
}

.card-login {
	min-width:50%;
	background-color: rgba( 45, 106, 79, 0.5) !important;
	border-radius: 0px;

}

.login_btn{
color: black;
background-color: #d8f3dc;
width: auto;
}

.card-header h3 {
	color: #f0ead6;
}

.box-shadow {
	box-shadow: 1px 1px 16px -2px #1b4332;
}

.text-shadow {
	text-shadow:2px 2px 3px #081c15;
}

p.camp-index-address {
	font-size: small;
	color: grey;
}

.username-display {
	text-transform: capitalize;
}

.checked {
	color: #40916c;
}

.btn {
	border-radius: 0px;
}

.content-editor {
	size: 10px;
}

.caption-full {
	margin: .5em;
}

.comment-text {
	white-space: pre-wrap;
}

.footer {
	margin-top: 10em;
}

#map {
	width: 100%;
	height: 300px;
}

.before-animation{
	margin-left: 100%;
}

.slideFromRight {
	
	animation: .3s ease-out 0s 1 slideFromRight;
	overflow:visible;
	margin-left: 50%;
	transform: translateX(-50%);
	
}

@keyframes slideFromRight {
	
	0% {
		margin-left: 100%;
		transform: translateX(0%);
	}
	100% {
		margin-left: 50%;
		transform: translateX(-50%);
	}	
}